* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    margin: auto;
}  

.wrapper-footer{
    max-width: 1280px;
    margin: auto;
}


.div-title{
    width: 100%;
    background-color: black;
    margin-top: 30px;
    padding: 20px;
}

.title{
    color: white;
    text-align: center;
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 40px;
}

.card{
    position: relative;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px rgba(0,0,0,.3); */
    transform: scale(1);
    perspective: 1000px;
    transition: transform .5s;
    margin: 30px;
    transform-style: preserve-3d;
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

.card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    backface-visibility: hidden; 
    transition: transform .5s;

}

.front-face{
    transform: rotateY(-180deg);
}

.back-face {
    transform: rotateY(0);
}


.footer-line{
    width: 100%;
    background-color: black;
    margin-top: 60px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-name,
.link-course{
    color: white;
    text-decoration: none;
}

.year{
    color: white;
}


@media (max-width: 750px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }
} 

@media (max-width: 560px){
    .container{
        grid-auto-rows: 60px;
        grid-gap: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-line{
        flex-direction: column;
        gap: 30px;
    }

    .year{
        order: 1;
    }
} 

@media (max-width: 540px){
    .container{
        justify-content: center;
        grid-auto-rows: 80px;
        grid-gap: 20px;
    }
} 

@media (max-width: 460px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
} 


/* MODAl */
.popup{
    position: fixed;
    z-index: 10;
    margin: auto;
    display: none;
}

.open {
    display: block;
}

.popup-container{
    max-width: 400px;
    background-color: black;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.popup-h2,
.popup-score,
.score,
.popup-best{
    color: white;
}

.button-restart{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border: 2px solid white;
    border-radius: 100px;
    padding: 5px;
}

.button-restart:hover{
    background-color: gray;
}

.popup-close{
    border: 2px solid black;
    width: 42px;
    height: 42px;
    border-radius: 100px;
    position: absolute;
    top: -42px;
    right: -42px;
    background: white;
}

.popup-cross::after{
    display: inline-block;
    content: "\00d7";
    font-size: 32px;
    font-weight: lighter;
}

.popup-close:hover{
    background: gray;
}